.projectpreview > img {
    height: 20dvh;
}

.projectpreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    
    margin: 2em;
    padding: 1em;
    border-radius: 2em;
    background-color: var(--cambridge-blue);
    /* similar styling can be box-shadow */
    filter: drop-shadow(0.5em 0.5em 5px #5b8881);
    max-width: 90dvw;
}

.projectpreview > a {
    background-color: var(--dutch-white);
    border: 0.2em solid white;
    border-radius: 5em;
    padding: 0.5dvh;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.projectpreview > a:hover {
    transition: 1s;
    font-size: larger;
}

.projectpreview > section {
    display: flex;

    column-gap: 1em;
}

.projectpreview > section > a {
    background-color: var(--dutch-white);
    border: 0.2em solid white;
    border-radius: 5em;
    padding: 0.5dvh;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.contentrow {
    display: flex;
    flex-direction: column;
  }  

/* desktop view */
@media screen and (min-width: 800px) and (min-device-width: 800px) {
  .contentrow {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }  

  .pplist {
    width: 20dvw;
    height: 50dvh;
    margin: 1em;
    padding: 2em;
  }

  .projectpreview > img {
    height: 20dvh;
    width: 20dvw;
    object-fit: cover
  }
}