/* CSS HEX */
:root {
    --paynes-gray: #666a86ff;
    --slate-gray: #788aa3ff;
    --cambridge-blue: #92b6b1ff;
    --celadon: #b2c9abff;
    --dutch-white: #e8ddb5ff;

    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--celadon);
}

header {
    background-color: var(--slate-gray);
    height: 10dvh;
    /* can use either % or dvw, does the same thing in this case */
    width: 100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-small;
}

footer {
    background-color: var(--slate-gray);
    height: 5dvh;
    width: 100dvw;
    text-align: center;
}

main {
    height: 85dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    margin: 1em;
}

main > img {
    height: 40dvh;
    /* if adding a specific width, can use object-fit so image is not skewed depending on screen size */
    width: 80dvw;
    background-color: #a1c0bc;
    object-fit: contain;
}

#home-button {
    background-color: var(--dutch-white);
    border: 3px solid wheat;
    padding: 0.5dvh;
    font-size:medium;
}

#home-button:hover {
    transition: 2s;
    animation: rubberBand 2s;
}

#home-contactlink {
    color: black;
    text-decoration: none;
}